.heading{
    font-weight: 500;
    color:#642DFF;
    text-align: center;
}
.title{
    color:#1E1E1E;
    text-align: center;
}
.arrowSign{
    width: 65px;
}

@media only screen and (max-width:1280px) {
    .arrowSign{
        width: 30px;
    }
}